.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.confirmation-modal {
  background: rgb(68, 68, 68);
  padding: 10px;
  border: 2px solid #444;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}
.confirmation-buttons-container {
  display: flex;
  justify-content: space-between;
  button {
    width: 45%;
  }
}
.confirmation-text {
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

.confirmation-description {
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: #ccc;
  font-weight: bold;
}
